# Compiled files
*.py[cod]
__pycache__
Plotting Real Stars.ipynb
stars080420.dat
*.dat
*.xlsx
*.fits
*.tgz
model_stellar_spectra.png
model_stellar_spectra.pdf
*.pdf
*.png
*.pdf
*.png
*.pdf
*.png
*.txt
MIRIS_data/get_miris_mosaic.py
.ipynb_checkpoints/MIRIS-checkpoint.ipynb
MIRIS_data/baby_pixel
MIRIS_data/pwetty
model_stellar_spectra.pdf
model_stellar_spectra.png
*.pdf
*.png
.ipynb_checkpoints/MIRIS Filter Function-checkpoint.ipynb
.ipynb_checkpoints/MIRIS-checkpoint.ipynb
*.jpg
.ipynb_checkpoints/MIRIS-checkpoint.ipynb
*.csv
*.pdf
*.png
*.png
model_stellar_spectra.pdf
.ipynb_checkpoints/MIRIS-checkpoint.ipynb
.ipynb_checkpoints/MIRIS Background Subtraction-checkpoint.ipynb
model_stellar_spectra.png
model_stellar_spectra.pdf
.ipynb_checkpoints/MIRIS-checkpoint.ipynb
.ipynb_checkpoints/MIRIS-checkpoint.ipynb
*.log
.ipynb_checkpoints/Pixel Finding 041221-checkpoint.ipynb
*.json
*.html
.ipynb_checkpoints/Background Flux v Longitude-checkpoint.ipynb
.ipynb_checkpoints/Background Flux v Longitude-checkpoint.ipynb
.ipynb_checkpoints/Background Flux v Longitude-checkpoint.ipynb
*.zip
.ipynb_checkpoints/Background Flux v Longitude-checkpoint.ipynb
